/**
 * Accordion (<details>)
 */

details {
  // --box-shadow: var(--button-box-shadow, 0 0 0 rgba(0, 0, 0, 0));
  display: block;
  border-top: var(--border-width) solid var(--accordion-border-color);
  border-left: var(--border-width) solid var(--accordion-border-color);
  border-right: var(--border-width) solid var(--accordion-border-color);
  border-bottom: var(--border-width) solid var(--accordion-border-color);
  border-radius: 5px;
  box-shadow: 4px 4px 0px 0px rgba(0,0,0,1);

  // TODO Fix these values: 
  // padding-bottom: var(--spacing);
  font-weight: bolder;
  color: black;
  margin-bottom: 1.5rem;
  
  section {
    // TODO Fix these values: 
    padding: 1.5rem;
    font-weight: bolder;
    color: black;
    margin-bottom: 1em;

    // TODO Fix these values: 
    address,
    blockquote,
    dl,
    figure,
    form,
    ol,
    p,
    pre,
    table,
    ul {
      margin-bottom: 0;
      font-weight: bolder;
      color: black;
    }

  }

  summary {
    line-height: 1rem;
    list-style-type: none;
    cursor: pointer;
    background-color: var(--primary);
    box-shadow: 
      2px 2px 0px 0px rgba(0,0,0,1),
      0px 2px 0px 0px rgba(0,0,0,1);

    // TODO: Fix these values
    padding: 1.5rem;

    
    // border: var(--border-width) solid var(--accordion-border-color);
    border-radius: 5px;

    // &:not([role]) {
    //   color: var(--accordion-close-summary-color);
    // }

    @if $enable-transitions {
      // transition: color var(--transition);
    }

    // Reset marker
    &::-webkit-details-marker {
      display: none;
    }

    &::marker {
      display: none;
    }

    &::-moz-list-bullet {
      list-style-type: none;
    }

    // Marker
    &::after {
      display: block;
      width: 1rem;
      height: 1rem;
      margin-inline-start: calc(var(--spacing, 1rem) * 0.5);
      float: right;
      background-image: var(--icon-plus);
      background-position: right center;
      background-size: 1rem auto;
      background-repeat: no-repeat;
      content: "";

      @if $enable-transitions {
        transition: transform var(--accordion-transition);
      }
    }

    &:focus {
      outline: none;

      // &:not([role="button"]) {
      //   color: var(--accordion-active-summary-color);
      // }
    }

    // Type button
    &[role="button"] {
      width: 100%;
      text-align: left;

      // Marker
      &::after {
        height: calc(1rem * var(--line-height, 1.5));
        background-image: var(--icon-chevron-button);
      }

      @if $enable-classes {
        // .contrast
        &:not(.outline).contrast {
          // Marker
          &::after {
            background-image: var(--icon-chevron-button-inverse);
          }
        }
      }
    }
  }

  // Open
  &[open] {
    > summary {
      margin-bottom: calc(var(--spacing));

      // &:not([role]) {
      //   &:not(:focus) {
      //     color: var(--accordion-open-summary-color);
      //   }
      // }

      &::after {
        transform: rotate(-45deg);
      }
    }
  }






}



[dir="rtl"] {
  details {
    summary {
      text-align: right;

      &::after {
        float: left;
        background-position: left center;
      }
    }
  }
}
